In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, inspect

In [2]:
# Create an engine for the  FemaData.db database
engine = create_engine("sqlite:///../data/femadata.sqlite", echo=False)
conn = engine.connect()

In [3]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
#Base.classes.keys()  #- if no primary key the table isn't picked up.

In [4]:
#######################
############  RIGHT HERE I CAN DROP SOME COLUMNS

abbr_state = pd.read_csv("../rawDAta/50_us_states_all_dataAbbrv.csv")
# abbr_state.drop(columns=['state_apStyle'], inplace=True)
abbr_state.rename(columns={"state_caps": "STATE_CAPS","state_abbrv": "STATE_ABBRV", \
                           "state_title": "STATE_TITLE", "state_apStyle": "STATE_APSTYLE"}, inplace=True)

abbr_state.to_sql('state_abbrv', conn, if_exists='replace')

In [5]:
# noaa_1995_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d1995.csv")
# noaa_1996_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d1996.csv")
# noaa_1997_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d1997.csv")
# noaa_1998_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d1998.csv")
# noaa_1999_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d1999.csv")
noaa_2000_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2000.csv")
noaa_2001_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2001.csv")
noaa_2002_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2002.csv")
noaa_2003_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2003.csv")
noaa_2004_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2004.csv")
noaa_2005_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2005.csv")
noaa_2006_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2006.csv")
noaa_2007_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2007.csv")
noaa_2008_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2008.csv")
noaa_2009_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2009.csv")
noaa_2010_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2010.csv")
noaa_2011_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2011.csv")
noaa_2012_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2012.csv")
noaa_2013_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2013.csv")
noaa_2014_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2014.csv")
noaa_2015_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2015.csv")
noaa_2016_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2016.csv")
noaa_2017_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2017.csv")
noaa_2018_df = pd.read_csv("../rawDAta/StormEvents_details-ftp_v1.0_d2018.csv")

C:\Users\tmher\Anaconda3\envs\pandas\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Merge all the dataframes into one

noaa_all = pd.DataFrame()

# for i in range(1995,1997):
#     dfName = 'noaa_' + str(i) + '_df'
#     noaa_all = noaa_all.append(dfName, ignore_index = True)
    
# noaa_all  

# noaa_all = noaa_all.append(noaa_1995_df, ignore_index = True)
# noaa_all = noaa_all.append(noaa_1996_df, ignore_index = True)
# noaa_all = noaa_all.append(noaa_1997_df, ignore_index = True)
# noaa_all = noaa_all.append(noaa_1998_df, ignore_index = True)
# noaa_all = noaa_all.append(noaa_1999_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2000_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2001_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2002_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2003_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2004_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2005_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2006_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2007_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2008_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2009_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2010_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2011_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2012_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2013_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2014_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2015_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2016_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2017_df, ignore_index = True)
noaa_all = noaa_all.append(noaa_2018_df, ignore_index = True)

In [7]:
noaa_all.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [8]:
# Columns to drop   df.drop(columns=['B', 'C'])
# 'last_date_modified',
noaa_all.drop(columns=['WFO', 'BEGIN_DATE_TIME', 'BEGIN_DAY', \
                       'BEGIN_TIME', 'CZ_TIMEZONE', 'END_YEARMONTH', \
                       'END_DAY', 'END_TIME', 'END_DATE_TIME', 'CATEGORY', \
                       'SOURCE', 'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', \
                       'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE', \
                       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', \
                       'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', \
                       'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', \
                       'DATA_SOURCE',   \
                       'BEGIN_YEARMONTH', 'MONTH_NAME', 'CZ_TYPE', \
                       'CZ_FIPS', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', \
                       'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', \
                       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE' \
                       ], inplace=True)

In [9]:
noaa_all.head()

,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE
0,1104812,5165377,FLORIDA,12.0,2000,Extreme Cold/Wind Chill,0,0,0,0,NaN,NaN,NaN
1,1104812,5165378,FLORIDA,12.0,2000,Extreme Cold/Wind Chill,0,0,0,0,NaN,NaN,NaN
2,1104812,5165379,FLORIDA,12.0,2000,Extreme Cold/Wind Chill,0,0,0,0,NaN,NaN,NaN
3,1105342,5165449,WEST VIRGINIA,54.0,2000,Winter Storm,0,0,0,0,NaN,NaN,NaN
4,1101140,5172568,MISSISSIPPI,28.0,2000,Thunderstorm Wind,0,0,0,0,2K,NaN,NaN

In [10]:
# Title case the State field
noaa_all['STATE'] = noaa_all["STATE"].str.title() 
# noaa_all["STATE"].unique()

In [11]:
# For reference, save csv with count of all types

countOfTYpes = noaa_all.EVENT_TYPE.value_counts()
countOfTYpes.to_csv("../data/countOfTypes.csv", header=True)

In [12]:
# Filter dataset to events we are interested in.

noaa_cats = noaa_all.loc[(noaa_all['EVENT_TYPE'] == 'Flood') | (noaa_all['EVENT_TYPE'] == 'Tornado') | (noaa_all['EVENT_TYPE'] == 'Hurrincane') | (noaa_all['EVENT_TYPE'] == 'Wildfire')]

In [13]:
#- store the noaa_cats all in db as all_events
noaa_cats.to_sql('all_events', conn, if_exists='replace')

Create table nmbr_events.  State, total number of events

In [14]:

qry = 'SELECT STATE, count(STATE) as NMBR_EVENTS \
FROM all_events \
GROUP BY STATE;'

nmbr_events = pd.read_sql(qry, conn)

# nmbr_events.head()

In [15]:
# Create/load to db
nmbr_events.to_sql('nmbr_events', conn, if_exists='replace')

# Create table events_deaths

In [16]:
# DEATHS_DIRECT DEATHS_INDIRECT not equal to zero.
noaa_cats_noZero =noaa_cats.loc[(noaa_cats["DEATHS_DIRECT"]  != 0 ) | (noaa_cats["DEATHS_INDIRECT"]  != 0 )]

In [17]:
noaa_cats_noZero.reset_index(drop=True, inplace=True)

In [18]:
# noaa_cats_noZero.to_csv('../data/noaa_cats_nonZero.csv',  header=True, index=False)

# Load table events with all non zero data

In [19]:
# Load data of events with deaths to table events_deaths
noaa_cats_noZero.to_sql('events_deaths', conn, if_exists='replace')

# sum_state_death table

# sum_state_event table

# sum_state_event_year table

# Add state abbr to tables

In [20]:
# all_events
qry = 'SELECT * FROM all_events as s \
JOIN state_abbrv as a \
ON s.STATE = a.STATE_TITLE;'
all_event_df = pd.read_sql(qry, conn)
# index STATE_CAPS
all_event_df.drop(columns=['index', 'STATE_CAPS', 'STATE_TITLE', 'STATE_APSTYLE'], inplace=True)

# all_event_df.columns

In [21]:

all_event_df.to_sql('all_events', conn, if_exists='replace')

In [22]:
# events table
qry = 'SELECT * FROM events_deaths as s \
JOIN state_abbrv as a \
ON s.STATE = a.STATE_TITLE;'
event_df = pd.read_sql(qry, conn)

# event_df.columns

In [23]:
# index STATE_CAPS
event_df.drop(columns=['index', 'STATE_CAPS', 'STATE_TITLE', 'STATE_APSTYLE'], inplace=True)
event_df.to_sql('events_deaths', conn, if_exists='replace')

In [24]:
# nmbr_events table
qry = 'SELECT * FROM nmbr_events as s \
JOIN state_abbrv as a \
ON s.STATE = a.STATE_TITLE;'
nmbr_events_df = pd.read_sql(qry, conn)

# index STATE_CAPS
nmbr_events_df.drop(columns= ['index', 'STATE_CAPS', 'STATE_TITLE', 'STATE_APSTYLE'], inplace=True)
nmbr_events_df.to_sql('nmbr_events', conn, if_exists='replace')

# Create some json for testing

In [25]:
# Put out nmbr_events json for testing
qry = "select * from nmbr_events"
nmbr_events = pd.read_sql(qry, conn)
nmbr_events.to_json('../data/nmbr_events.json', orient='records')